body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; 
}

/*Contenido principal */
.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #181717; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.1); 
  margin-top: 60px; 
}

body.App {
  font-family: Arial, sans-serif;
}

/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0px;
  position: fixed; 
  width: 100%;
  top: 0; 
  left: 0; 
  z-index: 1000; 
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Formularios */
.Form-container {
  max-width: 600px;
  margin: 0 auto;
}

.Form-container form {
  margin-bottom: 20px;
}

.Form-container h2 {
  margin-bottom: 10px;
}

.Form-container input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.Form-container button {
  background-color: #181717;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.Form-container button:hover {
  background-color: #0056b3;
}

/* Contacto */
.contact-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #181717;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.1); 
}

.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Inicio de sesión */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #181717;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.1);
  text-align: end;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form label {
  margin-bottom: 8px;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none; 
}

.login-container form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none; 
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none; 
}

.login-container form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none; 
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container form .register-link {
  text-align: center;
}

.login-container form .register-link a {
  color: #007bff;
  text-decoration: none;
}

.login-container form .register-link a:hover {
  text-decoration: underline;
}

/*Animacion para el spinning text*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #222;
  height: 100vh;
}

p {
  height: 300px;
  width: 300px;
  position: relative;
  animation: effect 8s linear infinite;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 150px;
  transform-style: flat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}